USER_SERVICE_URL=http://users-app:3000
AUTH_SERVICE_URL=http://auth-app:3000
ORDERS_SERVICE_URL=http://orders-app:3000
DELIVERY_SERVICE_URL=http://delivery-app:3000
RESTAURANT_SERVICE_URL=http://restaurant-app:3000
PAYMENT_SERVICE_URL=http://payment-app:3000
MENU_SERVICE_URL=http://menu-app:3000

JWT_SECRET=sua_chave_jwt
JWT_EXPIRATION_TIME=3600
