# Credenciais mongo (restaurants-db)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=mongodb://user:senha@restaurants-db:27017/restaurants?authSource=admin

# Porta (restaurant-app)
PORT=3000
