# Credenciais mongo (tracking-db)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=mongodb://user:senha@tracking-db:27017/tracking?authSource=admin

# Porta (tracking-app)
PORT=3000
